<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>プレビュー</title>
    <style>
        body {
            margin-top: 10%;
            text-align: center;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<img src="{{qr_path}}" alt="QRコード">
<p>{{ticket_name}}</p>
<br>
<a href="{{download_path}}" download>
    <button>ダウンロード</button>
</a>
<br>
<br>
<a href="/">
    <button>トップに戻る</button>
</a>
</body>
</html>
